<include file="Public/header" title="个人中心 | 企业安全应急响应与缺陷管理中心" index="active"/>

<div class="wrapper wrapper-content" style="font-family:微软雅黑;">
    <!--概况-->
    <div class="row">
          <div class="col-md-4">
                <div class="widget style1 navy-bg-new">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-bug fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 我的报告 </span>
                            <h2 class="font-bold"><a href="{:U('post/add')}" style="color:white;">{$pnum}</a></h2>
                        </div>
                    </div>
                </div>
         </div>
          <div class="col-md-4">
                <div class="widget style1 navy-bg-new">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-dollar fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 我的金币 </span>
                            <h2 class="font-bold"><a href="{:U('gift/index')}" style="color:white;">{$jinbi['jinbi']}</a></h2>
                        </div>
                    </div>
                </div>
         </div>
          <div class="col-md-4">
                <div class="widget style1 navy-bg-new">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-file-text-o fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 礼品订单 </span>
                            <h2 class="font-bold"><a href="{:U('gift/order')}" style="color:white;">{$gift}</a></h2>
                        </div>
                    </div>
                </div>
         </div>
    </div>

    <!--公告部分-->
    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>官方公告</h5>
                                <div class="ibox-tools">
                                  <a class="collapse-link">
                                     <i class="fa fa-chevron-up"></i>
                                  </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>发布时间</th>
                                            <th>公告标题</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="page" item="v">
                                             <tr>
                                                    <td data-title="报告时间"><a href="./index.php?m=&c=page&a=view&id={$v.id}">{$v.update_time|date="Y/m/d",###}</a></td>
                                                    <td data-title="报告标题"><a href="./index.php?m=&c=page&a=view&id={$v.id}">{$v.title}</a></td>
                                                </tr>
                                        </foreach>	
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
      </div>
      
      <!--我的报告-->
          <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>我的报告</h5>
                                <div class="ibox-tools">
                                  <a class="collapse-link">
                                     <i class="fa fa-chevron-up"></i>
                                  </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                                               <div class="table-responsive">
                                    <table class="table table-hover issue-tracker">
                                        <thead>
                                        <tr>   
                                            <th>报告标题</th>
                                            <th>报告状态</th>
                                            <th>危害评级</th>
                                            <th>提交时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="model" item="v">
                                        <tr>
                                            <td><a href="{:U('post/view?rid=')}{$v.id}">{$v.title}</a></td>
                                            <td> <if condition="$v.type eq 1"><span class="label label-info">审核中</span>
                                                    <elseif condition="$v.type eq 2" /><span class="label label-default">已忽略</span>
                                                    <elseif condition="$v.type eq 3" /><span class="label label-warning">已确认</span>
                                                    <elseif condition="$v.type eq 4" /><span class="label label-success">已修复</span>
                                                    </if>
                                            </td>
                                            <td>
                                            <if condition="$v.rank eq 1"><span class="label label-default">无影响</span>
                                            <elseif condition="$v.rank eq 2" /><span class="label label-primary">低危</span>
                                            <elseif condition="$v.rank eq 3" /><span class="label label-warning">中危</span>
                                            <elseif condition="$v.rank eq 4" /><span class="label label-success">高危</span>
                                            </if>
                                            </td>
                                            <td>{$v.time|date="Y/m/d H:i:s",###}</td>
                                        </tr>
                                        </foreach>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
      </div>

</div>

        <!--<div class="footer">
            <div class="pull-right">
                授权 <strong>SRCMS Inc.</strong> 使用
            </div>
            <div>
                <strong>Copyright</strong> SRCMS © 2014-2017
            </div>
        </div>-->
        
        </div>
        <footer class="g-bg-color--dark" style="font-size:15px;">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">关于我们</a></li>
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">工作招聘</a></li>
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">联系我们</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">新浪微博</a></li>
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">微信平台</a></li>
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">Twitter</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">隐私政策</a></li>
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">法律事务</a></li>
                                <li><a class="g-font-size-25--xs g-color--white-opacity" href="javascript:void(0);">授权协议</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <!--<h3 class="g-font-size-18--xs g-color--white">Google Inc.</h3>-->
                            <p class="g-color--white-opacity g-font-size-25--xs">Google Inc. 是一家位于美国的跨国科技企业，业务包括Google搜索、Google Chrome、Andriod等。Google非常重视安全生态的建设，希望通过建立安全应急响应中心邀请安全专家完善生态。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="index.html">
                            <img class="g-width-100--xs g-height-auto--xs" src="/dev5/Public/Index/img/logo.png" alt="Megakit Logo">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">© Google 2017-2018 Powered by: SRCMS</p>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        </div>



    <!-- Mainly scripts -->
    <script src="__PUBLIC__/User/jquery-2.1.1.js"></script>
    <script src="__PUBLIC__/User/bootstrap.min.js"></script>
    <script src="__PUBLIC__/User/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/User/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="__PUBLIC__/User/inspinia.js"></script>
    <script src="__PUBLIC__/User/pace.min.js"></script>

    <!-- Flot -->
    <script src="__PUBLIC__/User/jquery.flot.js"></script>
    <script src="__PUBLIC__/User/jquery.flot.tooltip.min.js"></script>
    <script src="__PUBLIC__/User/jquery.flot.resize.js"></script>

    <!-- ChartJS-->
    <script src="__PUBLIC__/User/Chart.min.js"></script>

    <!-- Peity -->
    <script src="__PUBLIC__/User/jquery.peity.min.js"></script>
    <!-- Peity demo -->
    <script src="__PUBLIC__/User/peity-demo.js"></script>
    
    <script>
        $(document).ready(function(){
            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];
            var d3 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31912], [1272672000000, 26602], [1275350400000, 21126], [1277942400000, 21302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];

            var data1 = [
                //{ label: "Data 1", data: d1, color: '#55b3c3'},
                { label: "Data 2", data: d1, color: '#076e72' }
            ];
            
            var data2 = [
                //{ label: "Data 1", data: d1, color: '#55b3c3'},
                { label: "Data 2", data: d2, color: '#076e72' }
            ];
            
            var data3 = [
                //{ label: "Data 1", data: d1, color: '#55b3c3'},
                { label: "Data 2", data: d3, color: '#076e72' }
            ];
            
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        }
                    },
                    points: {
                        width: 0.1,
                        show: false
                    }
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false
                }
            });
            
             $.plot($("#flot-chart2"), data2, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        }
                    },
                    points: {
                        width: 0.1,
                        show: false
                    }
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false
                }
            });

          $.plot($("#flot-chart3"), data3, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        }
                    },
                    points: {
                        width: 0.1,
                        show: false
                    }
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false
                }
            });
           
        });
    </script>
    
</body>
</html>